.auth-box {
    min-height: calc(100vh - 150px);

    .card {
      background: #fff;
      box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
      transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);

      &:hover {
        transform: scale(0.95);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
      }

      .card-header {
        background-color: #f68630;
        opacity: 0.8;
        color: white;
        font-weight: bold;

      }
    }

    button {
        &.btn {
            background-color: #f68630;
            border: none;
            border-radius: 0;
            color: white;
            font-weight: bold;
            padding: 6px 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 10px;
            margin: 15px 0;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
        }
    }
}
