.form-outline {
    margin: 1rem 0;

    @media screen and (max-width: 480px) {
        width: 90vw;
    }
}

//! h1 effect
.wonder {
    /* Base */

    h5 {
        color: hsl(0, 0%, 28%);
        font-size: 20px;
        font-weight: bold;
        font-family: monospace;
        letter-spacing: 7px;
        cursor: pointer;
    }

    h5 span {
        transition: 0.5s ease-out;
    }

    h5:hover span:nth-child(1) {
        margin-right: 5px;
    }

    h5:hover span:nth-child(1):after {
        content: " l'ordine";
    }

    h5:hover span:nth-child(2) {
        margin-left: 20px;
    }

    h5:hover span:nth-child(2)::before {
        content: "";
    }

    h5:hover span {
        color: #000;
        text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 40px #000;
    }
}

.top-navbar {
    z-index: 8;

    .front-top-navbar {
        .navbar {
            margin: 0;
            padding: 0;
            display: block;
            position: absolute;
            left: 0;

            span.navbar-toggler-icon {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #navbarSupportedContent {
                background: rgb(245, 133, 47);
                position: absolute;
                z-index: 9;
                min-height: calc(100vh - 40px);
                width: 250px;
                left: -258px;
                transition: left 0.4s ease;

                &.show {
                    left: -8px;
                }

                .navbar-nav {
                    .nav-item {
                        &.dropdown {
                            .nav-link {
                                &.dropdown-toggle {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    padding: 10px;
                                }
                            }
                        }

                        .dropdown-menu {
                            background: rgb(245, 133, 47);
                            border: 0;
                            padding-top: 0;
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

.background-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    z-index: 8;
    background: #0f667440;
}
