//! CARD ARROW
@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0) translateY(50%);
    }
    90% {
        transform: scale(1.05);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}
article.card {
    position: relative;
    width: 20em;
    background-color: #292929;
    transition: all 0.3s ease-in-out;

    &:hover {
        box-shadow: 0 10px 20px 10px rgba(black, 0.2);
    }
}

.card__link {
    display: block;
    padding: 1em;
    text-decoration: none;
}

.card__icon {
    position: absolute;
    width: 4em;
    height: 4em;
    transition: all 0.3s ease-in-out;

    .card:hover & {
        opacity: 0;
        transform: scale(0);
    }
}

.card__media {
    padding: 2em 0;

    svg path {
        opacity: 0;
        transition: all 0.3s ease-in-out;
        transform-origin: center center;
    }

    .card:hover & {
        svg path {
            animation: fadeInScale 0.3s ease-in-out forwards;
        }

        svg path:nth-child(2) {
            animation-delay: 0.1s;
        }

        svg path:nth-child(3) {
            animation-delay: 0.2s;
        }
    }
}

.card__header {
    position: relative;
}

.card__header-title {
    margin: 0 0 0.25em;
    color: white;
}

.card__header-meta {
    margin: 0;
    color: #999;
}

.card__header-icon {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -1em;
    transform: translateX(-20%);
    width: 2em;
    height: 2em;
    transition: all 0.3s ease-in-out;

    .card:hover & {
        opacity: 1;
        transform: translateX(0);
    }
}
//! CARD DARK
$main-blue: #0076bd !default;
$main-blue-rgb-015: rgba(0, 118, 189, 0.1) !default;

section.dark {
    background: #110f16;

    a,
    a:hover {
        text-decoration: none;
        transition: color 0.3s ease-in-out;
    }

    /* Cards */
    .postcard {
        flex-wrap: wrap;
        display: flex;

        box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
        border-radius: 10px;
        margin: 0 0 2rem 0;
        overflow: hidden;
        position: relative;
        color: #ffffff;

        &.dark {
            background-color: #18151f;
        }

        .t-dark {
            color: #18151f;
        }

        a {
            color: inherit;
        }

        h1,
        .h1 {
            margin-bottom: 0.5rem;
            font-weight: 500;
            line-height: 1.2;
        }

        .small {
            font-size: 80%;
        }

        .postcard__title {
            font-size: 1.75rem;
        }

        .postcard__img {
            max-height: 180px;
            width: 100%;
            object-fit: cover;
            position: relative;
        }

        .postcard__img_link {
            display: contents;
        }

        .postcard__bar {
            width: 50px;
            height: 10px;
            margin: 10px 0;
            border-radius: 5px;
            background-color: #424242;
            transition: width 0.2s ease;
        }

        .postcard__text {
            padding: 1.5rem;
            position: relative;
            display: flex;
            flex-direction: column;
        }

        .postcard__preview-txt {
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: justify;
            height: 100%;
        }

        .postcard__tagbox {
            display: flex;
            flex-flow: row wrap;
            font-size: 14px;
            margin: 20px 0 0 0;
            padding: 0;
            justify-content: center;

            .tag__item {
                display: inline-block;
                background: rgba(83, 83, 83, 0.4);
                border-radius: 3px;
                padding: 2.5px 10px;
                margin: 0 5px 5px 0;
                cursor: default;
                user-select: none;
                transition: background-color 0.3s;

                &:hover {
                    background: rgba(83, 83, 83, 0.8);
                }
            }
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(-70deg, #424242, transparent 50%);
            opacity: 1;
            border-radius: 10px;
        }

        &:hover .postcard__bar {
            width: 100px;
        }
    }

    @media screen and (min-width: 769px) {
        .postcard {
            flex-wrap: inherit;

            .postcard__title {
                font-size: 2rem;
            }

            .postcard__tagbox {
                justify-content: start;
            }

            .postcard__img {
                max-width: 300px;
                max-height: 100%;
                transition: transform 0.3s ease;
            }

            .postcard__text {
                padding: 3rem;
                width: 100%;
            }

            .media.postcard__text:before {
                content: "";
                position: absolute;
                display: block;
                background: #18151f;
                top: -20%;
                height: 130%;
                width: 55px;
            }

            &:hover .postcard__img {
                transform: scale(1.1);
            }

            &:nth-child(2n + 1) {
                flex-direction: row;
            }

            &:nth-child(2n + 0) {
                flex-direction: row-reverse;
            }

            &:nth-child(2n + 1) .postcard__text::before {
                left: -12px !important;
                transform: rotate(4deg);
            }

            &:nth-child(2n + 0) .postcard__text::before {
                right: -12px !important;
                transform: rotate(-4deg);
            }
        }
    }
    @media screen and (min-width: 1024px) {
        .postcard__text {
            padding: 2rem 3.5rem;
        }

        .postcard__text:before {
            content: "";
            position: absolute;
            display: block;

            top: -20%;
            height: 130%;
            width: 55px;
        }

        .postcard.dark {
            .postcard__text:before {
                background: #18151f;
            }
        }
    }

    .postcard .postcard__tagbox .blue.play:hover {
        background: $main-blue;
    }
    .blue .postcard__title:hover {
        color: $main-blue;
    }
    .blue .postcard__bar {
        background-color: $main-blue;
    }
    .blue::before {
        background-image: linear-gradient(
            -30deg,
            $main-blue-rgb-015,
            transparent 50%
        );
    }
    .blue:nth-child(2n)::before {
        background-image: linear-gradient(
            30deg,
            $main-blue-rgb-015,
            transparent 50%
        );
    }

    @media screen and (min-width: 769px) {
        .blue::before {
            background-image: linear-gradient(
                -80deg,
                $main-blue-rgb-015,
                transparent 50%
            );
        }
        .blue:nth-child(2n)::before {
            background-image: linear-gradient(
                80deg,
                $main-blue-rgb-015,
                transparent 50%
            );
        }
    }
}

//! CARD CATEGORY
.HeaderBoxes {
    .container {
        padding: 0px 5px;
    }
    .card {
        width: 8rem;
        margin: 8px 0px;
        border-radius: 0px;
        border: 0px;
        transition: transform 0.2s;
        padding: 0px;
        min-height: 180px;
        max-height: 180px;

        &:hover {
            transform: scale(0.95);
            cursor: pointer;
        }
        span {
            font-size: 0.8rem;
        }

        img {
            padding: 10px;
            max-height: 120px;
        }
        .litlogo {
            bottom: 60px;
            right: 0px;
            height: 60px;
            width: 60px;
        }
    }

    .orange-box {
        background-color: rgb(245, 134, 47);
    }
    .yellow-box {
        background-color: rgb(253, 188, 72);
    }
    .gray-box {
        background-color: rgb(244, 244, 244);
    }
}
