// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f68630;
$yellow: #fdbc48;
$green: #38c172;
$gray: #f1f1f1;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: #000;
$white: #ffffff;

.orange {
  background-color: #f68630;

  &:hover {
    background-color: sandybrown;
  }
}

a {
  color: black;
  text-decoration: none;
}

